body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}
#myID{
    color:red;
    font-family:Arial, Helvetica, sans-serif;
}
#btn{
    background-color: red;
    color:white ;
    border-radius: 50%;
    width: 60px;
    height:60px;
    font-weight: bold;
    font-size: 100%;
}
#btn:hover{
    cursor: pointer;
}
.pogas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#upgradeBtn{
    background-color: greenyellow;
    font-size: 100%;
    font-weight: bold;
}
#upgradeBtn:hover{
    cursor: pointer;
}
.olas{
    width: 250px;
    height: 250px;
    
}
.olas:hover {
    opacity: 0.7;
    cursor: pointer;
}